# Logs
*.log

# Coverage directory used by vitest
coverage

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.local
.env.*.local

# unbuild output
dist
